<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | David Borromeo</title>
    <link rel="icon" href="/images/logo.svg" type="image/svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="top-bar">
                <div class="logo">
                    <img src="/images/logo.svg" alt="Logo">
                    <a href="/">David Borromeo</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/view/projects.html">Projects</a></li>
                        <li><a href="/view/about.html" class="active">About</a></li>
                        <li><a href="/view/contact.html">Contact</a></li>
                    </ul>
                    <span class="separator"></span>
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle">
                        <span class="slider"></span>
                    </label>
                </nav>
                <div class="right-nav">
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle1">
                        <span class="slider"></span>
                    </label>
                    <button class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="sidebar-overlay"></div>
    <aside class="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/view/projects.html">Projects</a></li>
            <li><a href="/view/about.html">About</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
        </ul>
    </aside>


    <main>
        <section class="about-image">
            <div class="container">
                <image class="img" src="/images/philhealth-cover.jpg" alt="About Cover Photo">
            </div>
        </section>
        <section class="about-title">
            <div class="container">
                <h2>DAVID BORROMEO</h2>
                <h3>UI/UX Enthusiast</h3>
                <p>I value simplicity over vibrance and prefer a straightforward approach over an overwhelming process.
                    I'm eager for an opportunity to apply my skills and design methodology to create appealing and
                    feasible projects.</p>
            </div>
        </section>
        <section class="philosophy">
            <div class="container">
                <h2>MY PHILOSOPHY</h2>
                <div class="quote">
                    <p>"A humble designer recognizes their own blind spots—what seems clear to them may not be to users.
                        By empathizing with users and valuing their perspectives, designers can better identify and
                        solve the right problems."</p>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="container">
                <div class="about-container">
                    <h2>MY EDUCATION</h2>
                    <div class="col-flex reverse">
                        <div class="content">
                            <h3>Animation & IT</h3>
                            <p>
                                I studied Animation at Justice Cecilia Muñoz Palma Senior High School (JCMPSHS) during
                                senior high. Later, I pursued a Bachelor of Science in Information Technology (BSIT) at
                                Quezon City University (QCU).
                            </p>
                        </div>
                        <div class="image-container">
                            <img src="/images/portrait.jpg" alt="David Matthew's Portrait">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="skillset">
            <div class="container">
                <h2>MY SKILLSET</h2>
                <div class="skillset-container">
                    <div class="skillset-item">
                        <small>01</small>
                        <h4>UI/UX Design</h4>
                        <p>Researching, Style Guide, Wireframing, Components, Prototyping, Mockups.</p>
                    </div>
                    <div class="skillset-item">
                        <small>02</small>
                        <h4>Web/Front-End Design</h4>
                        <p>Layout Responsiveness, Assets Optimization, AI-assisted tools, Debugging</p>
                    </div>
                    <div class="skillset-item">
                        <small>03</small>
                        <h4>Graphic Design</h4>
                        <p>Logo, Brand Guidelines, Magazine Spread, Custom Fonts, Custom Icons</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="let-us-know">
            <div class="container">
                <h3>Did I satisfy your design standard?</h3>
                <h2>Join me in, and let's start the design journey together!</h2>
            </div>
        </section>
    </main>
    <script src="/js/script.js" defer></script>
</body>

</html>