<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | David Borromeo</title>
    <link rel="icon" href="/images/logo.svg" type="image/svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="top-bar">
                <div class="logo">
                    <img src="/images/logo.svg" alt="Logo">
                    <a href="/">David Borromeo</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/view/projects.html">Projects</a></li>
                        <li><a href="/view/about.html">About</a></li>
                        <li><a href="/view/contact.html" class="active">Contact</a></li>
                    </ul>
                    <span class="separator"></span>
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle">
                        <span class="slider"></span>
                    </label>
                </nav>
                <div class="right-nav">
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle1">
                        <span class="slider"></span>
                    </label>
                    <button class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="sidebar-overlay"></div>
    <aside class="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/view/projects.html">Projects</a></li>
            <li><a href="/view/about.html">About</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
        </ul>
    </aside>


    <main>
        <section class="contacts">
            <div class="container">
                <h2>CONTACT</h2>
                <div class="contact-content">
                    <div class="contact-info">
                        <div class="contact-text">
                            <h3>Feel free to contact me</h3>
                            <p>Use the form to send me your feedbacks and thoughts.</p>
                        </div>

                        <div class="social-icons">
                            <h4>Let's Connect:</h4>
                            <div>
                                <a href="https://www.facebook.com/dvdmtthw11" target="_blank" rel="noopener noreferrer">
                                    <img src="/images/fb-icon.svg" alt="Facebook Logo"
                                        style="height: 48px; width: 48px;">
                                </a>
                                <a href="https://www.instagram.com/mr.deybid/" target="_blank"
                                    rel="noopener noreferrer">
                                    <img src="/images/instagram-icons8.svg" alt="Instagram Logo"
                                        style="height: 48px; width: 48px;">
                                </a>
                                <a href="https://www.linkedin.com/in/david-matthew-borromeo-51951a2a8/" target="_blank"
                                    rel="noopener noreferrer">
                                    <img src="/images/linkedin-icons8.svg" alt="LinkedIn Logo"
                                        style="height: 48px; width: 48px;">
                                </a>
                                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWrRlQXxwcxRsLvDGlnWvcZGLkpNBkbnXQQkqbDjVTspFbqmLxZlZFJchnFNcgQwTCZkpXskQ"
                                    target="_blank" rel="noopener noreferrer">
                                    <img src="/images/gmail-icons8.svg" alt="Gmail Logo"
                                        style="height: 48px; width: 48px;">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-container">
                        <form id="contactForm" action="https://formspree.io/f/xdkkjvdo" method="post">
                            <img class="form-logo" src="/images/logo.svg" alt="Form logo">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" placeholder="Enter your full name" required>

                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                            <div id="emailError" class="error"></div>

                            <label for="message">Message:</label>
                            <textarea id="message" name="message" rows="10" placeholder="Type your message here..."
                                required></textarea>

                            <div id="successMessage" class="success-message">Message sent successfully!</div>
                            <input type="submit" id="submitBtn" value="Send to David Borromeo" disabled>
                        </form>
                    </div>

                    <div class="social-icons1">
                        <h4>Let's Connect:</h4>
                        <div>
                            <a href="https://www.facebook.com/dvdmtthw11" target="_blank" rel="noopener noreferrer">
                                <img src="/images/fb-icon.svg" alt="Facebook Logo" style="height: 48px; width: 48px;">
                            </a>
                            <a href="https://www.instagram.com/mr.deybid/" target="_blank" rel="noopener noreferrer">
                                <img src="/images/instagram-icons8.svg" alt="Instagram Logo"
                                    style="height: 48px; width: 48px;">
                            </a>
                            <a href="https://www.linkedin.com/in/david-matthew-borromeo-51951a2a8/" target="_blank"
                                rel="noopener noreferrer">
                                <img src="/images/linkedin-icons8.svg" alt="LinkedIn Logo"
                                    style="height: 48px; width: 48px;">
                            </a>
                            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWrRlQXxwcxRsLvDGlnWvcZGLkpNBkbnXQQkqbDjVTspFbqmLxZlZFJchnFNcgQwTCZkpXskQ"
                                target="_blank" rel="noopener noreferrer">
                                <img src="/images/gmail-icons8.svg" alt="Gmail Logo" style="height: 48px; width: 48px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/script.js" defer></script>
</body>

</html>