<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | David Borromeo</title>
    <link rel="icon" href="/images/logo.svg" type="image/svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
  <header>
    <div class="container">
      <div class="top-bar">
        <div class="logo">
          <img src="/images/logo.svg" alt="Logo">
          <a href="/">David Borromeo</a>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/view/projects.html" class="active">Projects</a></li>
            <li><a href="/view/about.html">About</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
          </ul>
          <span class="separator"></span>
          <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider"></span>
          </label>
        </nav>
        <div class="right-nav">
          <label class="switch">
            <input type="checkbox" id="darkModeToggle1">
            <span class="slider"></span>
          </label>
          <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </header>
    <div class="sidebar-overlay"></div>
    <aside class="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/view/projects.html">Projects</a></li>
            <li><a href="/view/about.html">About</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
        </ul>
    </aside>

    <main>
        <section class="card">
            <div class="container">
                <div class="card-nav">
                    <div>
                      <h2 id="card-title">ALL PROJECTS</h2>  
                    </div>
                    <div class="dropdown-container">
                       <div class="dropdown">
                        <button class="dropbtn" aria-haspopup="true" aria-expanded="false">Categories<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg></button>
                        <div class="dropdown-menu">
                            <a href="#" data-category="all">All</a>
                            <a href="#" data-category="web">Web Design</a>
                            <a href="#" data-category="uiux">UI/UX Design</a>
                            <a href="#" data-category="graphic">Graphic Design</a>
                        </div>
                    </div> 
                    </div>
                    
                </div>
                <div class="card-grid" id="card-grid">
                    <div class="project-cards"></div>
                </div>
            </div>
        </section>
    </main>

    <script src="/js/script.js" defer></script>
    <script src="/js/cards.js"></script>
    <script src="/js/projects.js"></script>
</body>

</html>